@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-family: "Montserrat";
    scroll-behavior: smooth;
    --color-primary: #1D64C2;
    --color-secondary: #7FADEB;
    --color-secondary-lighter:#93baec;
    --color-text: #363738;
    --color-text-light: white;
    --color-bg:#fafcff;
    --color-bg-secondary:#8792A1;
    --color-rare:#FEB82C;
    --color-rare-light:#fdc64e;
    background-color: var(--color-bg);
}
::selection {
    background-color:var(--color-bg-secondary) ;
    color: var(--color-text);
}
::-moz-selection { 
    background-color:var(--color-bg-secondary) ;
    color: var(--color-text);
}
.container{
    margin:auto;
    max-width: 1300px;
}
@media only screen and (max-width:1380px)
{
    .container{
        max-width:95%;
    }
}

a{
    text-decoration: none;
    color:var(--color-text);
}
h1, h2, h3, h4, h5, p{
    cursor: default;
}
.title{
    text-align: center;
    font-size: 30px;
}
